.footer {
  // background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer.dark-theme {
  background-color: #0d0f12;
}
.footer.light-theme {
  background-color: #f7f7f7;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.footer__wrapper {
  display: flex;
  gap: 10px;
}

.footer-icon {
  width: 14px;
  height: 14px;
  fill: #ff6b08;
}

.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
}

.js-modal__team {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    justify-content: center;
  }
  .footer__text {
    line-height: 1.18;
  }
}
