.page-header {

    background-image: url(../images/header-1-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-header__logo-icon {
    width: 24px;
    height: 24px;
}

.form__search {
    width: 14px;
    height: 14px;
}