.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(105, 104, 104, 0.329);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);

  width: 280px;
  padding: 48px 20px 40px;

  //для планшета

  @media screen and(min-width: 768px) {
    width: 704px;
    padding: 40px 72px 40px 36px;
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    padding: 40px 12px;
  }
}

.modal-window__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

/*****************************************************/

.modal__movie {
  @media screen and(min-width: 768px) {
    display: flex;
  }
}
.movie__img {
  width: 240px;
  height: 357px;
  border-radius: 5px;
  margin-bottom: 20px;

  @media screen and(min-width: 768px) {
    width: 264px;
    height: 374px;
    margin-bottom: 0;
    margin-right: 68px;
  }

  @media screen and(min-width: 1280px) {
    width: 375px;
    height: 478px;
    margin-right: 16px;
  }
}

.movie__title {
  margin-bottom: 20px;
  font-weight: 500;

  color: #000000;

  @media screen and(min-width: 1280px) {
    font-size: 30px;
    line-height: 1.17;
  }
}
.movie__details {
  margin-bottom: 20px;
}

.movie__detail {
  width: 105px;
}

.modal-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
}

.modal-text--left-column {
  color: #8c8c8c;
}

.modal-text--uppercase {
  text-transform: uppercase;
}

.modal-text--line-high {
  line-height: 1.17;
}

.movie__detail--accent {
  display: inline-block;
  width: 36px;
  height: 16px;
  text-align: center;

  border-radius: 5px;

  line-height: 14px;
  background: #ff6b01;
  color: #ffffff;
}

.movie__about {
  margin-bottom: 8px;
}

.movie__description {
  line-height: 1.67;
  margin-bottom: 20px;
}

.movie__add-buttons {
  display: flex;
  gap: 15px;
}

.movie__add-btn {
  // display: block;

  padding: 13px 10px;
  width: 110px;

  font-weight: 500;

  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: #ff6b01;
    background: #ff6b01;
    color: #ffffff;
  }

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1280px) {
    width: 136px;
  }
}
