.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(105, 104, 104, 0.329);
}

.modal-window {
  position: absolute;
  height: auto;
  top: 20;
  left: 50%;
  background-color: #fff;
  transform: translateX(-50%);

  @media screen and(min-width: 768px) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal-window__close-btn {
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  border: none;

  cursor: pointer;
}

/*****************************************************/

.modal__movie {
  width: 280px;
  padding: 48px 20px 40px;

  @media screen and(min-width: 768px) {
    display: flex;
    width: 704px;
    height: 552px;
    padding: 40px 36px;
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    height: 558px;
    padding: 40px 12px;
  }
}

.movie__img-container {
  margin-bottom: 20px;

  @media screen and(min-width: 768px) {
    width: 264px;
    // height: 374px;
    margin-bottom: 0;
    margin-right: 68px;
  }

  @media screen and(min-width: 1280px) {
    width: 375px;
    height: 478px;
    margin-right: 16px;
  }
}

.movie__img {
  border-radius: 5px;

  @media screen and(min-width: 768px) {
    width: 264px;
    height: 374px;
  }

  @media screen and(min-width: 1280px) {
    width: 375px;
    height: 478px;
  }
}

.movie__title {
  margin-bottom: 20px;
  font-weight: 500;

  color: #000000;

  @media screen and(min-width: 1280px) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.movie__details {
  margin-bottom: 20px;
}

.movie__detail {
  width: 125px;
}

.modal-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
}

.modal-text--left-column {
  color: #8c8c8c;
}

.modal-text--uppercase {
  text-transform: uppercase;
}

.modal-text--line-high {
  line-height: 1.17;
}

.movie__detail--accent {
  display: inline-block;
  width: 36px;
  height: 16px;
  text-align: center;

  border-radius: 5px;

  line-height: 14px;
  background: #ff6b01;
  color: #ffffff;
}

.movie__detail-right-column {
  width: 200px;
}

.movie__thumb {
  position: relative;
}

.movie__about {
  margin-bottom: 8px;
}

.movie__description {
  line-height: 1.67;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 300px;
    height: 120px;
    overflow-y: auto;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 400px;
    height: 120px;
  }
}

.movie__add-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 40px;
  }
}

.modal__movie-btn {
  // padding: 13px 10px;
  cursor: pointer;
  width: 110px;
  height: 60px;

  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;

  text-transform: uppercase;

  &:hover,
  &:focus {
    border-color: #ff6b01;
    background: #ff6b01;
    color: #ffffff;
  }

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1280px) {
    width: 136px;
  }
}

.trailer-btn {
  margin-left: 65px;
  height: 60px;

  padding: 0;

  @media screen and (min-width: 768px) {
    position: absolute;
    left: 0;
    margin-left: 0;
    width: 265px;
    height: 44px;
    top: -55px;
  }

  @media screen and (min-width: 1280px) {
    width: 287px;
  }

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;

    color: #000000;
  }

  &:hover a,
  &:focus a {

    color: #ffffff;
  }
}