.slider {
  overflow: hidden;
  position: relative;
  width: 900px;
  display: none;
  min-height: 240px;
  margin: 0 auto;
  box-sizing: border-box;

  padding: 20px 0;
}

@media screen and (min-width: 1280px) {
  .slider {
    width: 900px;
    min-height: 288px;
  }
}

@media screen and (min-width: 768px) {
  .slider {
    display: flex;
  }
}

@media screen and (max-width: 1279px) {
  .slider {
    width: 711px;
  }
}

.slider__btn {
  border: none;
  z-index: 1;
  padding: 0;
  width: 25px;
  height: 248px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(10, 0, 0, 0.6);
  &--prev {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    top: 20px;
    left: 0;
  }
  &--next {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    top: 20px;
    right: 0;
  }

  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus {
    .slider__icon {
      border: 3px solid #ff6b08;
    }
  }
  &--prev:hover,
  &--prev:focus {
    border-left: 6px solid #ff6b08;
  }
  &--next:hover,
  &--next:focus {
    border-right: 6px solid #ff6b08;
  }
}

@media screen and (max-width: 1279px) {
  .slider__btn {
    height: 198px;
  }
}

.slider__icon {
  position: absolute;
  border-radius: 40px;
  border: 2px solid #fff;
  background-color: #00000075;
  width: 80px;
  height: 80px;
  transition: all 0.3s ease-in-out;
  &--prev {
    left: -40px;
  }
  &--next {
    right: -40px;
  }
}

@media screen and (max-width: 1279px) {
  .slider__icon {
    width: 70px;
    height: 70px;
    border-radius: 35px;
  }
}

.slider__list {
  position: relative;
  left: 0;
  padding: 0;
  width: inherit;
  gap: 13px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1279px) {
  .slider__list {
    gap: 5px;
  }
}
.slider__item {
  border: 4px solid #a61a25bd;
  border-radius: 5px;
  box-shadow: 4px 3px 5px #6060607a;
  filter: saturate(50%);
  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus,
  &:active {
    filter: saturate(100%);
    transform: scale(1.05);
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 1279px) {
  .slider__item {
    border: 3px solid #a61a25bd;
    box-shadow: 2px 1px 3px #6060607a;
  }
}

.slider__link {
  position: relative;
  text-decoration: none;
}
.slider__photo {
  max-width: 160px;
  height: auto;
  object-position: center;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 1279px) {
  .slider__photo {
    max-width: 132px;
  }
}

.slider__rating {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(180, 1, 1, 0.6);
  line-height: 2em;
}

.slider-bcg {
  background-color: black;
}
