.toolbar {
  position: absolute;
  bottom: 20px;
  display: inline-flex;

  padding: 1px;
  width: 70px;
  height: 36px;

  background-color: #ffffff;
  border-radius: 25px;
}

.theme__rect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.theme__control {
  position: absolute;
  left: 3px;
  top: 2px;

  display: block;
  width: 32px;
  height: 32px;

  background-color: #ff6b08;
  border-radius: 50%;
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.theme__control.checked {
  transform: translateX(32px);
}

.theme__icon {
  width: 32px;
  height: 32px;
  fill: #ff6b08;
}
.theme__icon-sun {
  width: 28px;
  height: 28px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body.light-theme {
  background-color: #fff;
  color: black;
}

body.dark-theme {
  background-color: #111417;
  color: #fff;
}
/* 
  
  .toolbar {
    position: absolute;
  
    display: flex;
    justify-content: flex-end;
    padding: 4px 0px;
  
    top: 1%;
    right: 1%;
  }
  
  .theme-switch {
    display: flex;
    align-items: center;
  }
  
  .theme-switch__control {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    width: 64px;
    height: 32px;
    border-radius: 50em;
    padding: 3px 0;
  }
  
  .theme-switch__toggle {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
  }
  
  .theme-switch__track {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    user-select: none;
    background-color: #333;
    border-radius: inherit;
    z-index: 1;
    cursor: pointer;
  }
  
  .theme-switch__marker {
    position: relative;
    background-color: #fff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    z-index: 2;
    pointer-events: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    transform: translateX(3px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .theme-switch__toggle:checked + .theme-switch__track {
    background-color: #d3d3d4;
  }
  
  .theme-switch__toggle:checked ~ .theme-switch__marker {
    transform: translateX(35px);
  }
  .theme-switch__toggle:focus + .theme-switch__track,
  .theme-switch__toggle:active + .theme-switch__track {
    box-shadow: 0 0 0 3px #2196f3;
  } */
