@import './common';
@import './header';
@import './main';
@import './pagination';
@import './footer';
@import './slider';
@import './modal-window';
@import './libart';
@import './loader.scss';
@import './theme-change';
@import './btn-up.scss';
@import './lang-switch';
