.js-team__modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(105, 104, 104, 0.329);
}

.js-team-modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: none;
  justify-content: center;
}

.modal-close-btn__icon {
  fill: black;
  width: 20px;
  height: 20px;
  margin: auto;
}

.js-team {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  margin: 0;
  padding: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);

  &__member {
    background-color: aquamarine;
    height: 100px;
    width: 100%;
  }
}
//----- для планшета

@media screen and (min-width: 768px) {
  .js-team {
    width: 704px;

    &__member {
      background-color: aquamarine;
      width: calc((100% - 10px) / 2);
    }
  }
}

// ----- для мобілки

@media screen and (min-width: 1280px) {
  .js-team {
    width: 1280px;

    &__member {
      background-color: aquamarine;
      width: calc((100% - 20px) / 3);
    }
  }
}