.js-team__modal-backdrop {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  
}

.js-team-modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: none;
  justify-content: center;
}

.modal-close-btn__icon {
  color: #ff6b08;
  width: 20px;
  height: 20px;
  margin: auto;
}

.js-team {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 50%;
  background-color: #ff6b08;
  // opacity: 0.5;
  transform: translate(-50%, 0%);
}

.team-member {
  border-radius: 7px;
  background-color: black;

  &__photo {
    object-fit: cover;
    margin-bottom: 10px;
  }

  &__name {
    padding-left: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: white;
  }

  &__rol {
    padding-left: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #ff6b08;
  }

  &__github-link {
    color: white;
    text-decoration: underline;
    margin: auto;
  }

  &__linkedin-link {
    color: rgb(0, 102, 255);
    text-decoration: underline;
    margin: auto;
  }
}

.team-member-card__footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.team-member:hover {
  scale: 1.1;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

//----- для планшета

@media screen and (min-width: 768px) {
  .js-team {
    width: 704px;
    transform: translate(-50%, 0%);
  }

  .team-member {
    width: calc((100% - 10px) / 2);
  }
}

// ----- для мобілки

@media screen and (min-width: 1280px) {
  .js-team {
    width: 1280px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .team-member {
    width: calc((100% - 40px) / 5);
  }
}
