<header class="home-header page-header container">
  <div class="home-header__container">
    <div class="page-header__navigation">
      <a href="./index.html" class="page-header__logo">
        <img
          class="page-header__logo-icon"
          src="./images/film.png"
          alt="film"
        />
        <p class="page-header__logo-title"></p>
      </a>
      <nav class="page-nav">
        <ul class="page-nav__list">
          <li class="page-nav__item page-nav__item_home">
            <a class="page-nav__link home current" href="./index.html"></a>
          </li>
          <li class="page-nav__item">
            <a class="page-nav__link library" href="./library.html"
              >My library</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <form class="form form-js">
      <div class="form__elem-search">
        <input class="form-input" type="text" placeholder="Movie search" />
        <button class="form__btn" type="submit">
          <img class="form__search" src="./images/search.png" alt="search" />
        </button>
      </div>
      <p class="form__notification">
        Search result not successful. Enter the correct movie name and
      </p>
    </form>
    <div class="lang">
      <div class="lang__rect">
        <label class="lang__control"></label>
        <p class="lang__value">UA</p>
        <p class="lang__value">EN</p>
      </div>
    </div>
    <div class="toolbar">
      <div class="theme__rect">
        <input
          class="theme__checkbox visually-hidden"
          type="checkbox"
          name="toggler"
        />
        <label class="theme__control" for="toggler"></label>
        <svg class="theme__icon">
          <use href="./images/icons.svg#icon-moon"></use>
        </svg>
        <svg class="theme__icon theme__icon-sun">
          <use href="./images/icons.svg#icon-sun"></use>
        </svg>
      </div>
    </div>
  </div>
</header>
