<div class="container">
  <div class="preloader__position">
    <div class="preloader">
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <ul class="card"></ul>
  </div>
  <ul class="js-pagination"></ul>
  <button class="btn-up btn show" type="button">
    <svg class="up-icon icon">
      <use href="./images/svg-sprite.svg#icon-go-up"></use>
    </svg>
  </button>
</div>