<header class="library-header page-header ">
    <div class="container">
        <svg class="page-header__logo-icon">
            <use href="#">
            </use>
        </svg>
        <a href="./index.html"
           class="page-header__logo">Filmoteka</a>
        <nav class="page-nav">
            <ul class="page-nav__list">
                <li class="page-nav__item">
                    <a href="./index.html">Home</a>
                </li>
                <li class="page-nav__item">
                    <a href="./library.html">my library</a>
                </li>
            </ul>
            <button type="button"
                    class="library-header-btn watched-btn-js">Watched</button>
            <button type="button"
                    class="library-header-btn queue-btn-js">queue</button>
    </div>
</header>